@import '~foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-typography;

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700');

@import 'variables';

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: $font-size-large;

    @include breakpoint(medium down) {
        font-size: $font-size-medium;
    }

    @include breakpoint(small down) {
        font-size: $font-size-small;
    }
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 5rem;
    font-weight: 600;
    display: inline-block;
    color: $white;
    padding-bottom: 1em;
    border-bottom: 1px solid $white;
}

h2 {
    font-size: 2em;
    font-weight: 500;
    color: $white;
    text-align: center;
}

h3 {
    font-size: 2.5em;
    font-weight: 400;
    color: $primary;
    text-align: center;
}

h4 {
    font-size: 2em;
    font-weight: 400;
    color: $gray;
    text-align: center;
}

h5 {
    font-size: 1.5em;
    font-weight: 300;
    color: $primary;
}

p {
    color: $black-light;
}

.header,
.main,
.section,
.footer {

    &-wrapper {
        @include flex-grid-row();
        @include flex-align('center','middle');
        padding: 5rem;
        height: 100%;

        @include breakpoint(small down) {
            padding: 2.5rem;
        }

        &-text {
            @include flex-grid-column(12);
        }
    }
}

.divider {
    @include flex-grid-column(12);
    margin: 2rem auto;
    border-bottom: 1px solid $primary;
}

.header {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-blend-mode: soft-light;
    width: 100%;
    text-align: center;

    &-wrapper {
        min-height: 100vh;
    }
}

.main {

    &-wrapper {
        @include flex-align('spaced', 'top');

        &-text {

        }
    }

    .summary,
    .details {
        @include flex-grid-column(4);

        @include breakpoint(small down) {
            @include flex-grid-column(12);
            text-align: center;

            strong {
                font-size: 1.2em;
            }
        }
    }

    .details {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    }
}

.experience {
    h3,
    h5,
    p {
        color: $near-white;
    }
    .divider {
        border-color: $near-white;
    }

    .experience-item,
    .resume {
        width: 100%;
    }

    .resume-item {
        @include flex-grid-row();
        color: $near-white;
        padding-top: 1rem;
        padding-bottom: 1rem;

        .qualification {
            @include flex-grid-column(4);
        }
        .summary {
            @include flex-grid-column(8);

            p {
                font-weight: 200;
            }
        }

        @include breakpoint(small down) {
            .qualification,
            .summary {
                @include flex-grid-column(12);
            }
        }
    }
}

.skills {
    .skillset-item {
        @include flex-grid-column(6);

        @include breakpoint(small down) {
            @include flex-grid-column(12);
        }

        &:hover {
            .skill-score {
                color: $primary-darker;
                font-size: 1.2em;
            }
        }

        .skill-values {
            @include flex-grid-row();
        }
        .skill-name {
            @include flex-grid-column(6);
        }
        .skill-score {
            @include flex-grid-column(6);
            text-align: right;
            color: $primary;
            transition: all 200ms ease-in-out;
        }
    }
}

.footer {
    padding-bottom: 5rem;

    h3 {
        color: $near-white;
    }
    .divider {
        border-color: $near-white;
    }

    &-link {
        @include flex-grid-column(6);
        padding-top: 1.5rem;
        text-align: center;

        @include breakpoint(small down) {
            @include flex-grid-column(12);
        }

        a {
            font-size: 1.33em;
            font-weight: 300;
            color: $near-white;
            transition: all 200ms ease-in-out;

            &:hover {
                font-size: 1.25em;
            }

            i {
                font-size: 1.5em;
                padding-right: 0.5em;
                vertical-align: bottom;
            }
        }
    }
}
